<html>
  <head>
    <title>New Posts</title>
  </head>
  
  <body>
    <h3>New Post</h3>
    
    <form method="post" action="/posts">
      <input type="text" name="post[title]" value="" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>